<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

<ion-input type="text" placeholder="متن را وارد کنید" [(ngModel)]="name" text-right id="input" ></ion-input>

<ion-button color="primary" (click)="insert()" [(ngModel)]="myButton">ثبت</ion-button>

</ion-content>
